@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 1.25rem;
  color: #b2b2b2;
  text-decoration: underline;
  text-underline-position: under;
}

.App {
  max-width: 1000px;
  margin: 6em auto;
  position: relative;
}

.container {
  margin: 0 2em;
}

body {
  background-color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
  font-size: 5rem;
  padding: 0 0 2rem;
}

p,
a {
  color: #b2b2b2;
  font-size: 1.5rem;
  line-height: 1.5;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10em;
  position: relative;
}

.contact a {
  margin-right: 1em;
  font-size: 1.5rem;
  /* color: white;  */
}

.hour img {
  width: 200px;
}

@media only screen and (max-width: 786px) {
  .App {
    margin: 2em auto;
  }

  .container {
    margin: 0 1em;
  }

  h1 {
    line-height: 1;
  }

  .hour img {
    width: 100px;
  }
}

@media only screen and (max-width: 486px) {
  .App {
    margin: 2em auto;
  }

  h1 {
    font-size: 4rem;
  }

  p,
  a {
    font-size: 1.25rem;
  }

  .contact {
    margin-top: 5em;
  }

  .contact a {
    font-size: 1rem;
  }
}
